<% url = (action == :new) ? albums_url : album_url(album) %>
<% http_verb = {:new => 'post', :edit => 'patch'}[action] %>
<% action_description = {:new => 'Create album', :edit => 'Update album'}[action] %>

<form action="<%= url %>" method="post">
  <input type='hidden' name='_method' value='<%= http_verb %>'/>
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>Album name
    <input type="text" name="album[name]" value="<%= album.name %>">
  </label>
  <br>

  <label>Recorded by
    <select name="album[band_id]">
      <% bands.each do |a_band| %>
        <option value="<%= a_band.id %>" <%= 'selected' if a_band.id == band.id %>><%= a_band.name %></option>
      <% end %>
    </select>
  </label>
  <br>

  Album type
    <% Album::TTYPES.each do |ttype| %>
      <label>
        <input type="radio"
               name="album[ttype]"
               value="<%= ttype %>"
               <%= 'checked' if album.ttype == ttype %> >
        <%= ttype %>
      </label>
    <% end %>
  <br>

  <input type="submit" value="<%= action_description %>">
</form>