<h1><%= @album.name %></h1>
<h2>By <%= link_to @album.band.name, band_url(@album.band) %></h2>

<%= link_to 'Edit this album', edit_album_url(@album) %>
<%= button_to 'Delete this album', @album, method: :delete %>

<h2>Tracks</h2>
<ul>
  <% @album.tracks.each do |track| %>
    <li><%= link_to track.name, track %></li>
  <% end %>
</ul>
<p><%= link_to 'Make new track', new_album_track_url(@album) %></p>