<h1><%= @track.name %></h1>
<h2>On <%= link_to @track.album.name, album_url(@track.album) %></h2>

<%= button_to 'Delete this track', track_url(@track), method: :delete %>
<br>

<ul>
  <%= render @track.notes %>
</ul>

<%= render 'notes/note_form', action: :new, track: @track %>