<h1><%= @sub.title%></h1>

<p><%= @sub.description %></p>

<ul>
  <% @sub.posts.each do |post| %>
    <li>
      <%= post.title %>
      <%= button_to 'Upvote!', upvote_post_url(post) %>
      <%= button_to 'Downvote!', downvote_post_url(post) %>
    </li>
  <% end %>
</ul>
