<% url = {users: users_url, session: session_url}[action] %>
<% action_descriptions = Hash[:users, 'Sign me up!', :session, 'Sign in!'] %>
<% action_description = action_descriptions[action] %>

<h1><%= action_description %></h1>

<form action="<%= url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>Email
    <input type="text" name="user[email]" value="<%= user.email %>">
  </label>
  <br>

  <label>Password
    <input type="password" name="user[password]">
  </label>
  <br>

  <input type="submit" value="<%= action_description %>">
</form>