<div class="jumbotron">
  <div class="row">
    <div class="col-xs-3 center-vertical">
      <%= image_tag "puppies/puppy2.jpg", class: "img-rounded", width: "100%" %>
    </div>
    <div class="col-xs-8 center-vertical">
      <h1 >Ponzi and Me</h1>
      <h2><small>The home page you wish you had</small></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-1 text-right center-vertical">
    <h1>I hope you like cute...</h1>
  </div>
  <div class="col-md-6 center-vertical">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag 'cute/hedgehog.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'cute/baby.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'cute/chick.jpg' %>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-2 center-vertical">
    <h1>...because that's the point of this web app.</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-2 center-vertical">
    <h2>This is the layout you always wanted.</h2>
    <p>And the little blurbs that go under it.</p>
  </div>
  <div class="col-sm-4 center-vertical col-xs-12">
    <%= image_tag "puppies/puppy3.jpg", class: "img-rounded", width: "100%" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 center-vertical col-xs-12">
    <%= image_tag "puppies/puppy4.jpg", class: "img-rounded", width: "100%" %>
  </div>
  <div class="col-sm-4 center-vertical">
    <h2>You're still reading?</h2>
    <p>Of course you are. This content is captivating. Can't stop, won't stop. Emphasis on can't stop.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2 center-vertical">
    <h2>Are these words? <strong>You bet.</strong></h2>
    <p>Responsive content will make our readers think that <em>we're</em> responsive. And that's good. So we're doing it. Dynamically. Synergy. Dynamic. Responsive. Bootstrap.</p>
  </div>
  <div class="col-sm-4 center-vertical col-xs-12">
    <%= image_tag "puppies/puppy1.jpg", class: "img-rounded", width: "100%" %>
  </div>
</div>