<h1><%= @cat.name %></h2>

<table>
  <tr>
    <th>Name</th>
    <td><%= @cat.name %></td>
  </tr>
  <tr>
    <th>Sex</th>
    <td><%= @cat.sex %></td>
  </tr>
  <tr>
    <th>Birth date</th>
    <td><%= @cat.birth_date %></td>
  </tr>
  <tr>
    <th>Color</th>
    <td><%= @cat.color %></td>
  </tr>
</table>

<h2> Description </h2>

<p><%= @cat.description %></p>