<h1><%= @cat.name %></h2>

<table>
  <tr>
    <th>Name</th>
    <td><%= @cat.name %></td>
  </tr>
  <tr>
    <th>Sex</th>
    <td><%= @cat.sex %></td>
  </tr>
  <tr>
    <th>Birth date</th>
    <td><%= @cat.birth_date %></td>
  </tr>
  <tr>
    <th>Color</th>
    <td><%= @cat.color %></td>
  </tr>
</table>

<h2> Description </h2>

<p><%= @cat.description %></p>

<h2> Rental Requests </h2>

<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
  </tr>
  <% @rental_requests.each do |request| %>
    <tr>
      <td><%= request.start_date %></td>
      <td><%= request.end_date %></td>
      <td><%= request.status %></td>
      <td><%= button_to(
                'Approve',
                approve_cat_rental_request_url(request),
                method: 'patch') if request.pending? %>
      </td>
      <td><%= button_to(
                'Deny',
                deny_cat_rental_request_url(request),
                method: 'patch') if request.pending? %>
      </td>
    </tr>
  <% end %>
  
</table>